.columns {
    display:flex;
    flex-direction: column;
}
.rows {
    display: flex;
}
.btn {
    width: 200px;
    height: 200px;
    font-size: 80px;
    border: 5px solid black;
    margin: 5px;
    background-color: dimgray;
}
.line {
    width: 820px;
    height: 100px;
    border: 5px solid black;
    margin: 5px;
    font-size: 60px;
    text-align: center;
}